@import '../../../../styles/settings/settings.scss';
@import '../../../../styles/tools/tools.scss';

.o-comics-list {
  display: flex;
  flex-wrap: wrap;

  article {
    width: 20%;
    min-width: 100px;
    padding: 0.5rem
  }
}